div.text{
   color: black;
}
p.vrez{
   color: blue;
}

.text{
   color: red;
}
.title{
   color: brown;
}
.ice-latte{
   color: orange;
}
.americano{
   color: orangered;
}
.glace{
   color: fuchsia;
}
.dopio{
   color: blueviolet;
}
.cappuccino{
   color: indigo;
}
.kon-pana{
   color: darkblue;
}
.viden{
   color: green;
}

